<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens Node.js</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style media="screen">
      * {
        font-family: sans-serif;
      }
      .table {
        border: 1px solid #000;
      }
      .table td {
        padding: 15px;
        vertical-align: top;
        border: 1px solid #000;
      }
      .table td:nth-child(2) {
        max-width: 250px;
      }
      .new-post {
        padding: 15px 0;
      }
      .grup-action {
        display: flex;
      }
      .action-edit, .action-delete {
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        background-color: transparent;
      }
      .form-action {
        width: 24px;
        height: 24px;
      }
      .form-action button.action-edit .material-icons {
        font-size: 24px;
        color: #00000090;
      }
      .form-action button.action-delete .material-icons {
        font-size: 24px;
        color: #00000090;
      }
      .form-action button.action-edit:hover .material-icons {
        color: #005bcc;
      }
      .form-action button.action-delete:hover .material-icons {
        color: #cc1313;
      }
    </style>
  </head>
  <body>
    {{{body}}}

  </body>
</html>
