<form action="/add" method="post">
  <p>Título: </p>
  <input type="text" name="titulo" value="">
  <p>Conteúdo: </p>
  <textarea name="conteudo" rows="8" cols="40"></textarea>
  <button type="submit">Cadastrar Postagem</button>
</form>
