<form action="/editado/{{id}}" method="post">
  <p>Título: </p>
  <input type="text" name="titulo" placeholder="{{titulo}}">
  <p>Conteúdo: </p>
  <textarea name="conteudo" rows="8" cols="40" placeholder="{{conteudo}}"></textarea>
  <button type="submit">Editar Postagem</button>
</form>
